body {
    background-color: rgb(195, 253, 255);
    color: black;
    font-size: 20px;
}

h1 {
    font-size: 90px;
    font-family: Dubai;
    text-align: center;
}

h2, h3 {
    font-size: 50px;
    font-family: 'Arial Rounded MT';
    text-align: center;

}

h3 {
    font-size: 30px;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: right;
}

    nav div {
        width: 100%;
        display: flex;
        justify-content: right;
    }

        nav div a {
            font-family: 'Lucida Sans';
            font-size: larger;
            font-weight: 600;
            text-decoration: underline;
        }

            nav div a#current {
                font-size: xx-large;
                color: black;
            }


@keyframes titleback {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}

h1 {
    background-color: red;
    animation-name: titleback;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

div li {
    border: solid 5px;
    border-color: white;
    padding: 2px;
    display: inline-block;
}

div ol, div ul {
    display: grid;
    grid-template-columns: 200px 200px 200px
}

p, li {
    line-height: 30px;
    font-family: Arial;
    font-weight: 300;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

p {
    padding: 0px 200px;
    padding-bottom: 20px;
}

ol {
    counter-reset: section;
    list-style-type: none;
}

img, video {
    border: solid 5px;
    border-color: white;
    padding: 10px;
    border-radius: 30px;
}

#pics {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#skip {
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 700;
    text-decoration: underline;
    position: absolute;
    left: -500px;
}

#skip:focus {
    left: 0px;
}

@media only screen and (max-width: 500px) {

    p {
        padding: 0px, 50px;
    }

}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
    }

    #gif {
        display: none;
    }
}